.chat-messages-container {
  margin-top: 20px;
  overflow: scroll;
  flex-grow: 1;
  scrollbar-width: none;
}

.welcome-text{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-grow: 1;
  color: gray;
}

.message-time {
  margin-top: 10px;
  color:gray;
  font-size: 12px;
}

@media (max-width: 640px) {
  .welcome-text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-grow: 1;
    color: gray;
    padding: 10px;
    text-align: justify;
  }
}